<article class="card">
  <a [routerLink]="['/product', product.id]" class="card-link">
    <div class="media">
      <img *ngIf="product.imageUrl" [src]="product!.imageUrl!" alt="{{product.name}}" class="media-img">
      <span *ngIf="!product?.imageUrl" class="media-empty">No Image</span>

      <span *ngIf="product!.discount && product!.discount! > 0" class="discount-badge">
        Save {{ (product!.discount || 0) | currency:'INR':'symbol' }}
      </span>
    </div>

    <h3 class="name">{{ product.name }}</h3>
    <div class="category">{{ product.category }}</div>

    <div *ngIf="product" class="price-row">
      <span class="price">
        {{ (product!.price - (product!.discount || 0)) | currency:'INR':'symbol' }}
      </span>

      <span *ngIf="product!.discount && product!.discount! > 0" class="mrp">
        {{ product!.price | currency:'INR':'symbol' }}
      </span>
    </div>

    <div class="stock-row">
      <ng-container *ngIf="product!.availableQuantity > 0; else out">
        <span class="stock in">In Stock: {{ product!.availableQuantity }}</span>
      </ng-container>
      <ng-template #out>
        <span class="stock out">Out of Stock</span>
      </ng-template>
    </div>
  </a>
</article>
