<h2 class="signup">SignUp</h2>

<form class="auth-card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label">Full Name</label>
    <input class="input" formControlName="fullName" maxlength="50" required />
    <div class="error" *ngIf="f['fullName'].touched && f['fullName'].invalid">
      <div *ngIf="f['fullName'].errors?.['required']">Full Name is required.</div>
      <div *ngIf="f['fullName'].errors?.['maxlength']">Max 100 characters.</div>
      <div *ngIf="f['fullName'].errors?.['invalidName']">Only alphabets and spaces allowed.</div>
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <input class="input" formControlName="email" required type="email" />
    <div class="error" *ngIf="f['email'].touched && f['email'].invalid">
      <div *ngIf="f['email'].errors?.['required']">Email is required.</div>
      <div *ngIf="f['email'].errors?.['invalidEmail']">Invalid email format</div>
    </div>
  </div>

  <div class="field">
    <label class="label">Phone</label>
    <input class="input" formControlName="phoneNumber" maxlength="10" type="tel" required />
    <div class="error" *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid">
      <div *ngIf="f['phoneNumber'].errors?.['required']">Phone number is required.</div>
      <div *ngIf="f['phoneNumber'].errors?.['invalidPhone']">Must be exactly 10 digits.</div>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <input class="input" type="password" formControlName="password" required />
    <div class="error" *ngIf="f['password'].touched && f['password'].invalid">
      <div *ngIf="f['password'].errors?.['required']">Password is required.</div>
      <div *ngIf="f['password'].errors?.['minlength']">Min 8 characters.</div>
    </div>
  </div>

  <div class="field">
    <label class="label">Confirm Password</label>
    <input class="input" type="password" formControlName="confirmPassword" required />
    <div class="error" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid">
      <div *ngIf="f['confirmPassword'].errors?.['required']">Confirm is required.</div>
      <div *ngIf="f['confirmPassword'].errors?.['mismatch']">Passwords must match.</div>
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="form.invalid || loading">
    {{ loading ? 'Creating...' : 'Signup' }}
  </button>

  <div class="helper">
    Have an account?
    <a class="link" routerLink="/login">Login</a>
  </div>
</form>
